<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>
<%= render :partial => '/admin/shows/sub_header'%>
<h1> Trade Shows </h1>

<table class='pretty_table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Starts</th>
      <th>Ends</th>
      <th></th><th></th><th></th>
    </tr>
  </thead>
  <tbody>
    <% for trade_show in @trade_shows %>
        <tr>
          <td><%= trade_show.name %></td>
          <td><%= trade_show.city_name %></td>
          <td><%= trade_show.display_start_date %></td>
          <td><%= trade_show.display_end_date %></td>
          <td><%= link_to "Show", admin_shows_trade_show_path(trade_show) %></td>
          <td><%= link_to "Edit", edit_admin_shows_trade_show_path(trade_show) %></td>
          <td><%= link_to "Destroy", admin_shows_trade_show_path(trade_show), :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "New Trade Show", new_admin_shows_trade_show_path, :class => 'button' %></p>
