<% content_for :head do -%>
  <%= stylesheet_link_tag 'tables.css' %>
<% end %>

<%= render :partial => '/admin/seller/sub_header'%>
<h1> Users </h1>

<table class='pretty_table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.company_name %></td>
      <td><%= link_to "Show", admin_seller_user_path(user) %></td>
      <td><%= link_to "Edit", edit_admin_seller_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users %>