<%= render :partial => '/admin/shows/sub_header'%>
<h1> New Company (<%= @trade_show.name %>) </h1>

<%= form_for(@company, :url => admin_shows_trade_show_companies_path(@trade_show, @company)) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

  <%= link_to 'Back to List', admin_shows_trade_show_companies_path(@trade_show), :class => 'button' %>
