<%= render :partial => '/admin/shows/sub_header'%>
<h1> Company </h1>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_shows_trade_show_company_path(@trade_show, @company), :class => 'button' %> |
  <%= link_to "Destroy", admin_shows_trade_show_company_path(@trade_show, @company), :confirm => 'Are you sure?', :method => :delete, :class => 'button' %> |
  <%= link_to "View All", admin_shows_trade_show_companies_path(@trade_show), :class => 'button' %>
</p>
